* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
nav {
  background-color: #333333;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer {
  display: flex;
  padding: 50px;
  font-size: 30px;
}

footer a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

#about{
  padding: 30px;
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.gallery img {
  width: 30%;
  height: 30%;
  object-fit: cover;
}
.cover {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}
.cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s ease;
}
.cover:hover img {
  filter: blur(4px);
}
.cover:hover .cover-text {
  opacity: 1;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  padding: 50px;
}

.project-description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
}
